In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/spam.csv',encoding='Windows-1252')

In [ ]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
pd.set_option('display.max_colwidth', None)
messages = data[['v1','v2']]
messages.columns = ["label", "text"]
messages.head()

,label,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

# **Preprocessing**

In [ ]:
# remove_punctuation
import string
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

# tokenization
import nltk
nltk.download('punkt')
def tokenization(text):
    words = nltk.word_tokenize(text)
    return words

# remove_stopwords
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output


# lemmatizer
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatizer(text):
  lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
  return lemm_text

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
def preprocess(df_col):
  corpus = []
  for item in df_col:
    new_item = remove_punctuation(item)
    new_item = new_item.lower()
    new_item = tokenization(new_item)
    new_item = remove_stopwords(new_item)
    new_item = lemmatizer(new_item)
    corpus.append(new_item)
  return corpus

In [ ]:
messages['text_clean'] = preprocess(messages.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
messages.head()

,label,text,text_clean
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...","[go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]"
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,"[free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receive, entry, questionstd, txt, ratetcs, apply, 08452810075over18s]"
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives around here though","[nah, dont, think, go, usf, life, around, though]"

# **Gensim**

In [ ]:
import gensim
messages['text_clean_gensim'] = messages['text'].apply(lambda x: gensim.utils.simple_preprocess(x))
messages.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,label,text,text_clean,text_clean_gensim
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...","[go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]","[go, until, jurong, point, crazy, available, only, in, bugis, great, world, la, buffet, cine, there, got, amore, wat]"
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]","[ok, lar, joking, wif, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,"[free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receive, entry, questionstd, txt, ratetcs, apply, 08452810075over18s]","[free, entry, in, wkly, comp, to, win, fa, cup, final, tkts, st, may, text, fa, to, to, receive, entry, question, std, txt, rate, apply, over]"
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]","[dun, say, so, early, hor, already, then, say]"
4,ham,"Nah I don't think he goes to usf, he lives around here though","[nah, dont, think, go, usf, life, around, though]","[nah, don, think, he, goes, to, usf, he, lives, around, here, though]"

In [ ]:
messages['label']=messages['label'].map({'ham':1,'spam':0})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
messages.head()

,label,text,text_clean,text_clean_gensim
0,1,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...","[go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]","[go, until, jurong, point, crazy, available, only, in, bugis, great, world, la, buffet, cine, there, got, amore, wat]"
1,1,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]","[ok, lar, joking, wif, oni]"
2,0,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,"[free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receive, entry, questionstd, txt, ratetcs, apply, 08452810075over18s]","[free, entry, in, wkly, comp, to, win, fa, cup, final, tkts, st, may, text, fa, to, to, receive, entry, question, std, txt, rate, apply, over]"
3,1,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]","[dun, say, so, early, hor, already, then, say]"
4,1,"Nah I don't think he goes to usf, he lives around here though","[nah, dont, think, go, usf, life, around, though]","[nah, don, think, he, goes, to, usf, he, lives, around, here, though]"

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (messages['text_clean_gensim'], messages['label'] , test_size=0.2)

# **Training W2V**

In [ ]:
w2v_model = gensim.models.Word2Vec(X_train, min_count=1)

In [ ]:
w2v_model.wv['go']

array([ 0.125395  ,  1.4172087 ,  0.86761296,  0.10150864,  0.47274634,
        0.9201358 ,  0.31682256,  0.16397491,  0.5759036 , -0.6796973 ,
       -0.29913247, -0.079319  ,  0.45044333,  0.15174116, -0.02722644,
        0.41319576, -0.22177811,  0.5807328 , -0.7592722 ,  0.10056873,
       -0.7063825 ,  0.62012374, -0.47790688, -0.495859  , -0.5852119 ,
        0.26711142, -0.23895945,  0.28371271,  0.5902273 , -0.7929913 ,
        0.50147104, -0.16352163, -1.0169047 ,  0.14423963,  0.43058437,
        0.939425  , -0.4720611 , -0.79871744,  0.5813693 ,  0.0039595 ,
        1.0688754 , -0.01489755, -0.322433  ,  0.20391457,  0.05257803,
        0.15342897, -1.1311667 ,  1.0643585 ,  0.48616803,  0.05392917,
        0.1675928 ,  0.02393565, -0.73447835,  0.40356377,  0.5927715 ,
       -0.68819517,  0.9256304 ,  0.9922997 ,  0.38106075,  0.48844817,
        0.1859671 ,  0.10674389, -0.01599257,  0.08909342, -0.29549536,
        0.47100508, -0.31006062, -0.04801564, -0.33760524,  0.98994774,
       -0.02869456, -0.24991049, -0.26961404, -0.7093236 , -0.41419145,
       -0.16912434, -0.62288314,  0.44157475, -0.13476717,  0.11832906,
        0.6072207 , -0.1067223 ,  0.07469617, -0.84333414,  0.39510703,
       -0.79793924,  0.3752031 , -0.76188904,  0.33236542, -1.0604694 ,
       -0.4973109 ,  0.3175002 ,  0.0432439 ,  0.6648837 ,  0.62535167,
       -0.01650005,  0.28238332,  0.60903484, -0.15402833,  0.07901134],
      dtype=float32)

In [ ]:
w2v_model.wv.most_similar('go')

[('so', 0.9999487996101379),
 ('and', 0.999947190284729),
 ('but', 0.9999471306800842),
 ('it', 0.9999441504478455),
 ('the', 0.9999419450759888),
 ('will', 0.9999409914016724),
 ('cos', 0.9999407529830933),
 ('all', 0.9999407529830933),
 ('up', 0.9999404549598694),
 ('one', 0.9999403953552246)]

In [ ]:
words = w2v_model.wv.index2word

In [ ]:
X_train_vect = np.array([np.array([w2v_model.wv[i] for i in ls if i in words]) for ls in X_train])
X_test_vect = np.array([np.array([w2v_model.wv[i] for i in ls if i in words]) for ls in X_test])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [ ]:
X_train_vect_avg = []
for v in X_train_vect:
    if v.size:
        X_train_vect_avg.append(v.mean(axis=0))
    else:
        X_train_vect_avg.append(np.zeros(100, dtype=float))
        
X_test_vect_avg = []
for v in X_test_vect:
    if v.size:
        X_test_vect_avg.append(v.mean(axis=0))
    else:
        X_test_vect_avg.append(np.zeros(100, dtype=float))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
  
clf = RandomForestClassifier(n_estimators = 100) 
clf.fit(X_train_vect_avg, y_train)

RandomForestClassifier()

In [ ]:
from sklearn import metrics
y_pred = clf.predict(X_train_vect_avg) 
metrics.accuracy_score(y_pred, y_train)

1.0

In [ ]:
from sklearn import metrics
y_pred = clf.predict(X_test_vect_avg) 
metrics.accuracy_score(y_pred, y_test)

0.9542600896860987

In [ ]:
sms = "click on the link below. free money awaits OFFER!!"
sms = gensim.utils.simple_preprocess(sms)

In [ ]:
sms

['click', 'on', 'the', 'link', 'below', 'free', 'money', 'awaits', 'offer']

In [ ]:
X_test1 = np.array([w2v_model.wv[i] for i in sms if i in words]).mean(axis=0)

In [ ]:
y_pred = clf.predict([X_test1]) 
y_pred

array([0])

# Pretrained

In [ ]:
import gensim.downloader
glove_vectors = gensim.downloader.load('glove-twitter-25')

[==================================================] 100.0% 104.8/104.8MB downloaded

In [ ]:
glove_vectors.most_similar('king')

[('prince', 0.9337409734725952),
 ('queen', 0.9202421307563782),
 ('aka', 0.917692244052887),
 ('lady', 0.9163240790367126),
 ('jack', 0.9147355556488037),
 ("'s", 0.9066898822784424),
 ('stone', 0.8982374668121338),
 ('mr.', 0.8919409513473511),
 ('the', 0.8893438577651978),
 ('star', 0.8892089128494263)]